@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    min-height: 100vh;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    background-color: #fafafa;
  }
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .base-container {
    @apply col w-full items-center justify-center;
  }
  .base {
    @apply w-full max-w-[1500px] flex-grow items-center sm:px-[20px] sm:pb-16 sm:pt-32 md:px-12 md:pt-24 lg:px-16 lg:pb-10 lg:pt-32;
  }
  .base-img-top {
    @apply w-full max-w-[1500px] flex-grow items-center md:mt-4;
  }
}
